body {
  font-family: 'Open Sans', sans-serif;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  height: 69px;
  font-size: 35px;
}

.btn-lg {
  font-size: 35px;
}
