<template name="membersIndex">
  {{# Layout template="orionBootstrapMediumContentOffset" }}
    {{# Layout template="orionBootstrapTitle" }}
      {{ collection.title }}
      {{# if collection.canShowCreate }}
        <a href="{{ collection.createPath }}" class="btn btn-default btn-xs"><i class="fa fa-plus"></i></a>
      {{/ if }}
    {{/ Layout }}
    {{# Layout template="orionBootstrapContentContainer" }}
      {{# if collection.canIndex }}
        {{# if showTable }}
          {{> tabular table=collection.tabularTable class="table index-table" }}
        {{/ if }}
        <a class="btn btn-default" href="/download-members" target="_blank">Export all members</a>
      {{/ if }}
    {{/ Layout }}
  {{/ Layout }}
</template>
