<template name="currencyConverter">
  {{#autoForm collection='Trades' id='insertTradeForm' type='insert' class='form-horizontal'}}
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{afFieldLabelText name='fromCurrency'}}</label>
          <div class="col-sm-10">
            {{> afFieldInput name='fromCurrency' value=fromCurrency}}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{afFieldLabelText name='toCurrency'}}</label>
          <div class="col-sm-10">
            {{> afFieldInput name='toCurrency' value=toCurrency}}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group {{#if afFieldIsInvalid name='marketValueCurrency'}}has-error{{/if}}">
      <label class="col-sm-1 control-label">{{afFieldLabelText name='marketValueCurrency'}}</label>
      <div class="col-sm-11">
        {{> afFieldInput name='marketValueCurrency'}}
        {{#if afFieldIsInvalid name='marketValueCurrency'}}
          <span class="help-block">{{{afFieldMessage name='marketValueCurrency'}}}</span>
        {{/if}}
      </div>
    </div>
    <!-- <hr> -->
    <!-- <div class="progress" style="height: 5px">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{percentageLeft}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentageLeft}}%;">
        <span class="sr-only">{{percentageLeft}}% Complete</span>
      </div>
    </div> -->
    <h1 class="text-center" style="font-size: 11vw; margin-top: 0">
      <strong>{{formatDollarSign companyPrice}}</strong>
    </h1>
    <!-- <hr> -->
    <h2 class="text-center" style="margin-top: 0">
      + {{formatDollarSign flatFee}} flat fee
    </h2>
    <hr>
    <div class="form-group {{#if afFieldIsInvalid name='member'}}has-error{{/if}}">
      <label class="col-sm-1 control-label">{{afFieldLabelText name='member'}}</label>
      <div class="col-sm-11">
        {{> afFieldInput name='member' placeholder='What is your member number?'}}
        {{#if afFieldIsInvalid name='member'}}
          <span class="help-block">{{{afFieldMessage name='member'}}}</span>
        {{/if}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-group-lg {{#if afFieldIsInvalid name='fromAmount'}}has-error{{/if}}">
          <label class="col-sm-2 control-label">{{afFieldLabelText name='fromAmount'}}</label>
          <div class="col-sm-10">
            <div class="input-group input-group-lg">
              {{> afFieldInput name='fromAmount' value=fromAmount class='form-control text-right' autofocus=''}}
              <span class="input-group-addon">{{fromCurrency}}</span>
            </div>
          </div>
          {{#if afFieldIsInvalid name='fromAmount'}}
            <span class="help-block">{{{afFieldMessage name='fromAmount'}}}</span>
          {{/if}}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-lg {{#if afFieldIsInvalid name='toAmount'}}has-error{{/if}}">
          <label class="col-sm-2 control-label">{{afFieldLabelText name='toAmount'}}</label>
          <div class="col-sm-10">
            <div class="input-group input-group-lg">
              {{> afFieldInput name='toAmount' value=toAmount class='form-control text-right' step='0.0001'}}
              <span class="input-group-addon">{{toCurrency}}</span>
            </div>
            {{#if afFieldIsInvalid name='toAmount'}}
              <span class="help-block">{{{afFieldMessage name='toAmount'}}}</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-group-lg {{#if afFieldIsInvalid name='marketValue'}}has-error{{/if}}">
      <label class="col-sm-1 control-label">{{afFieldLabelText name='marketValue'}}</label>
      <div class="col-sm-11">
        <div class="input-group input-group-lg">
          {{> afFieldInput name='marketValue' value=marketValue class='form-control text-right'}}
          <span class="input-group-addon">{{marketValueCurrency}}</span>
        </div>
      </div>
      {{#if afFieldIsInvalid name='marketValue'}}
        <span class="help-block">{{{afFieldMessage name='marketValue'}}}</span>
      {{/if}}
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{afFieldLabelText name='memberPaymentMethod'}}</label>
          <div class="col-sm-10">
            {{> afFieldInput name='memberPaymentMethod' value=paymentMethod placeholder='How do you want to pay?'}}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{afFieldLabelText name='companyPaymentMethod'}}</label>
          <div class="col-sm-10">
            {{> afFieldInput name='companyPaymentMethod' placeholder='How do you want to get paid?'}}
          </div>
        </div>
      </div>
    </div>
    <!-- {{#if Template.subscriptionsReady}}
      <div class="btn-group btn-group-justified btn-group-lg">
        <a href="#" class="btn btn-default {{cash}}" id="cash" role="button">Cash</a>
        <a href="#" class="btn btn-default {{debitCard}}" id="debitCard" role="button">Debit card</a>
        <a href="#" class="btn btn-default {{creditCard}}" id="creditCard" role="button">Credit card</a>
      </div>
    {{/if}} -->
    {{#if toAmount}}
      {{#if currentUser}}
        <hr>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit Trade</button>
        </div>
      {{/if}}
      <hr>
      <h3 class="text-muted text-right">
        {{formatDollarSign fromAmount}}
        − {{formatDollarSign flatFee}} flat fee
        {{#if paymentMethodFee}}
        − {{formatDollarSign paymentMethodFee}} {{paymentMethod}} fee
        {{/if}}
        − {{formatDollarSign tax}} tax =
        {{formatDollarSign fromAmountAfterFees}}
      </h3>
      <h3 class="text-muted text-right">
        {{formatDollarSign fromAmountAfterFees}}
        &divide; {{formatDollarSign companyPrice}} =
        {{formatBTC toAmount}}
      </h3>
      <h3 class="text-muted text-right">
        {{formatBTC toAmount}} ≈ {{formatCAD marketValue}}
      </h3>
    {{/if}}
  {{/autoForm}}
</template>
