<template name="home">
  <img class="img-responsive center-block" src="bitcoin_logo.png">
  <hr>
  <div class="row text-center">
    <div class="col-sm-6">
      <a class="btn btn-primary btn-lg btn-block" href="/cad/btc">Buy</a>
      <!-- <strong style="font-size: 5vw">$311.08</strong> -->
    </div>
    <div class="col-sm-6">
      <a class="btn btn-primary btn-lg btn-block" href="/btc/cad">Sell</a>
      <!-- <strong style="font-size: 5vw">$270.14</strong> -->
    </div>
  </div>
</template>
