<template name="home">
  <!-- <img class="img-responsive center-block" src="bitcoin_logo.png" style="margin-top: 50px"> -->
  <h1 class="text-center text-large">
    <strong>BTC/CAD</strong>
  </h1>
  <div class="btn-group btn-group-lg btn-group-justified" role="group">
    <a href="/buy-bitcoins/canadian-dollars" class="btn btn-primary" role="button">Buy</a>
    <a href="/sell-bitcoins/canadian-dollars" class="btn btn-primary" role="button">Sell</a>
  </div>
  <h1 class="text-center text-large">
    <strong>BTC/USD</strong>
  </h1>
  <div class="btn-group btn-group-lg btn-group-justified" role="group">
    <a href="/buy-bitcoins/us-dollars" class="btn btn-primary" role="button">Buy</a>
    <a href="/sell-bitcoins/us-dollars" class="btn btn-primary" role="button">Sell</a>
  </div>
</template>
