<template name="home">
  {{#if verifiedUser}}
    <h2>Membership status: <strong>Level 1</strong></h2>
    <p>Payment methods</p>
    <p>Click here to upgrade</p>
    <p>My rate versus Standard rate</p>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Total</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {{#each trades}}
      <tr>
        <td>{{createdAt}}</td>
        <td>{{type}}</td>
        <td>{{price}}</td>
        <td>{{amount}}</td>
        <td>{{total}}</td>
        <td>{{status}}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    You need to register as a member.
  {{/if}}
</template>
