<template name="tradesShow">
  <div class="row">
    <div class="col-lg-4">
      <div class="page-header">
        <h2>Member profile</h2>
      </div>
      {{#with member}}
      <div class="row">
        <div class="col-xs-6">
          <p class="lead">
            Number
          </p>
        </div>
        <div class="col-xs-6">
          <p class="lead text-right">
            {{number}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p class="lead">
            Name
          </p>
        </div>
        <div class="col-xs-6">
          <p class="lead text-right">
            {{firstName}} {{lastName}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p class="lead">
            Phone
          </p>
        </div>
        <div class="col-xs-6">
          <p class="lead text-right">
            {{phoneNumber}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <p class="lead" style="margin-bottom: 10px">
            Email
          </p>
        </div>
        <div class="col-xs-8">
          <p class="lead text-right" style="margin-bottom: 10px">
            {{email}}
          </p>
        </div>
      </div>
      {{/with}}
    </div>
    <div class="col-lg-7 col-lg-offset-1">
      {{#with trade}}
        <div class="row">
          <div class="col-xs-4">
            <h2 style="margin-top: 40px">
              Receipt
            </h2>
          </div>
          <div class="col-xs-8">
            <h4 class="text-right" style="margin-top: 50px">
              {{formatDate createdAt}}
            </h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <p class="lead">
              {{#if buyPrice}}
                {{formatBaseCurrency amountSent}}
              {{else}}
                {{formatBaseCurrency amountReceived}}
              {{/if}}
              @ {{formatCounterCurrency companyPrice}}
            </p>
          </div>
          <div class="col-xs-4">
            <p class="lead text-right">
              {{formatCounterCurrency subtotal}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p class="lead">
              Flat fee
            </p>
          </div>
          <div class="col-xs-6">
            <p class="lead text-right">
              {{formatCounterCurrency flatFee}}
            </p>
          </div>
        </div>
        {{#if calculatedFeeForAmountReceived}}
          <div class="row">
            <div class="col-xs-8">
              <p class="lead">
                {{percentageFeeForAmountReceived}}% {{paymentMethodNameForAmountReceived}} fee
                {{> afFieldInput type='hidden' name='percentageFeeForAmountReceived' value=percentageFeeForAmountReceived}}
              </p>
            </div>
            <div class="col-xs-4">
              <p class="lead text-right">
                {{formatCounterCurrency calculatedFeeForAmountReceived}}
                {{> afFieldInput type='hidden' name='calculatedFeeForAmountReceived' value=calculatedFeeForAmountReceived}}
              </p>
            </div>
          </div>
        {{/if}}
        <div class="row">
          <div class="col-xs-6">
            <h3>
              <strong>Total</strong>
            </h3>
          </div>
          <div class="col-xs-6">
            <h3 class="text-right">
              <strong>
                {{#if buyPrice}}
                  {{formatCounterCurrency amountReceived}}
                {{else}}
                  {{formatCounterCurrency amountSent}}
                {{/if}}
              </strong>
            </h3>
          </div>
        </div>
      {{/with}}
      {{#if bitcoinAddress}}
        <div class="well well-sm" style="margin-top: 20px">
          <h2 class="text-center" style="margin-top: 10px">
            Bitcoin address
          </h2>
          <hr>
          <p class="lead text-center">
            <a href="{{bitcoinURI}}">{{bitcoinAddress}}</a>
          </p>
          {{#if currentUser}}
            <div class="text-center" style="margin-bottom: 20px">
              {{> qrcode size=200 text=bitcoinURI}}
            </div>
            <p class="lead text-center">
              <a href="https://www.blocktrail.com/BTC/address/{{bitcoinAddress}}">Blocktrail</a>
            </p>
            <p class="lead text-center">
              <a href="https://blockchain.info/address/{{bitcoinAddress}}">Blockchain.info</a>
            </p>
          {{else}}
            <hr>
            <p class="lead text-center" style="margin-bottom: 10px">
              <a href="https://blockchain.info/address/{{bitcoinAddress}}">Click here</a> to view your transaction on the blockchain.
            </p>
          {{/if}}
        </div>
      {{/if}}
      {{#if currentUser}}
        <div class="well">
          <h2 class="text-center" style="margin: 0">Admin tools</h2>
          <hr>
          {{#with member}}
          <div class="well">
            <p class="lead">
              Okay to send receipt via SMS? {{sendSMS}}
            </p>
            <p class="lead" style="margin-bottom: 0">
              Okay to send receipt via email? {{sendEmail}}
            </p>
          </div>
          {{/with}}
          <button type="button" class="btn btn-default btn-lg btn-block" id="sendSMS">Send receipt via SMS</button>
          <button type="button" class="btn btn-default btn-lg btn-block" id="sendEmail">Send receipt via Email</button>
        </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="qrcode">
  <div class="qrcode"></div>
</template>
