<template name="tradesShow">
  <div class="row">
    <div class="col-lg-4">
      <div class="page-header">
        <h2>Member profile</h2>
      </div>
      {{#with member}}
      <div class="row">
        <div class="col-xs-6">
          <p class="lead">
            Number
          </p>
        </div>
        <div class="col-xs-6">
          <p class="lead text-right">
            {{number}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p class="lead">
            Name
          </p>
        </div>
        <div class="col-xs-6">
          <p class="lead text-right">
            {{firstName}} {{lastName}}
          </p>
        </div>
      </div>
      {{/with}}
    </div>
    <div class="col-lg-7 col-lg-offset-1">
      {{#with trade}}
        <div class="row">
          <div class="col-xs-4">
            <h2 style="margin-top: 40px">
              Receipt
            </h2>
          </div>
          <div class="col-xs-8">
            <h4 class="text-right" style="margin-top: 50px">
              {{formatDate createdAt}}
            </h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <p class="lead">
              {{#if buyPrice}}
                {{formatBaseCurrency amountSent}}
              {{else}}
                {{formatBaseCurrency amountReceived}}
              {{/if}}
              @ {{formatCounterCurrency companyPrice}}
            </p>
          </div>
          <div class="col-xs-4">
            <p class="lead text-right">
              {{formatCounterCurrency subtotal}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p class="lead">
              Flat fee
            </p>
          </div>
          <div class="col-xs-6">
            <p class="lead text-right">
              {{formatCounterCurrency flatFee}}
            </p>
          </div>
        </div>
        {{#if calculatedFeeForAmountReceived}}
          <div class="row">
            <div class="col-xs-6">
              <p class="lead">
                {{percentageFeeForAmountReceived}}% {{paymentMethodNameForAmountReceived}} fee
                {{> afFieldInput type='hidden' name='percentageFeeForAmountReceived' value=percentageFeeForAmountReceived}}
              </p>
            </div>
            <div class="col-xs-6">
              <p class="lead text-right">
                {{formatCounterCurrency calculatedFeeForAmountReceived}}
                {{> afFieldInput type='hidden' name='calculatedFeeForAmountReceived' value=calculatedFeeForAmountReceived}}
              </p>
            </div>
          </div>
        {{/if}}
        <div class="row">
          <div class="col-xs-6">
            <h3>
              <strong>Total</strong>
            </h3>
          </div>
          <div class="col-xs-6">
            <h3 class="text-right">
              <strong>
                {{#if buyPrice}}
                  {{formatCounterCurrency amountReceived}}
                {{else}}
                  {{formatCounterCurrency amountSent}}
                {{/if}}
              </strong>
            </h3>
          </div>
        </div>
      {{/with}}
      <div class="well" style="margin-top: 20px">
        {{#if bitcoinAddressForAmountSent}}
          <a class="text-center" href="https://blockchain.info/address/{{bitcoinAddressForAmountSent}}">
            {{> QrCode text=bitcoinURI}}
          </a>
          <hr>
          <h3 class="text-center" style="margin-top: 0">{{bitcoinAddressForAmountSent}}</h3>
        {{else}}
          {{#if currentUser}}
          <h2 style="margin-top: 0">Generate a QR code</h2>
          <hr>
          {{#autoForm collection='Trades' doc=trade id='updateTradeForm' type='update'}}
            <div class="form-group form-group-lg">
              <div class="input-group input-group-lg">
                {{> afFieldInput name='bitcoinAddressForAmountSent' class='form-control' placeholder='The address where you will send the bitcoins to'}}
                <span class="input-group-btn">
                  <!-- <button class="btn btn-default" type="button">Scan address</button> -->
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#scanAddress">
                    Scan address
                  </button>
                </span>
              </div>
            </div>
            <!-- {{> afQuickField name='bitcoinAddressForAmountSent' placeholder="The address where you will send the bitcoins to"}} -->
            <button type="submit" class="btn btn-primary">Generate</button>
          {{/autoForm}}
          {{else}}
            <h2 style="margin: 0">Bitcoin address unspecified</h2>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
  {{#if currentUser}}
    <div class="modal fade" id="scanAddress" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Scan address</h4>
          </div>
          <div class="modal-body">
            <!-- {{> qrScanner w=568 h=400}} -->
            {{#if Template.subscriptionsReady}}
              {{#unless bitcoinAddressForAmountSent}}
                {{> qrScanner}}
              {{/unless}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>
