<template name="header">
  <div class="container">
    <div class="row" style="padding-top: 20px">
      <div class="col-sm-8 col-sm-offset-2">
        {{#if currentUser}}
          <a href="/">
            <img class="img-responsive" src="/satoshicounter_logo.png">
          </a>
        {{else}}
          <a href="http://satoshicounter.com/">
            <img class="img-responsive" src="/satoshicounter_logo.png">
          </a>
        {{/if}}
      </div>
      <div class="col-sm-2">
        <a class="btn btn-default btn-lg pull-right" href="/admin">
          <i class="fa fa-lock"></i> {{employee}}
        </a>
      </div>
    </div>
  </div>
  <hr style="margin-bottom: 0">
</template>
